@model IEnumerable<Business_Registration_Form.Entities.BusinessRegistrationForm>

@{
    ViewBag.Title = "test";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>test</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.County)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessEmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessContactPreference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DBA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentalBooth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeBased)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EIN1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EIN2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOpenedMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOpenedYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Website)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NonProfit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MailingAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MailingCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MailingState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MailingZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MailingCounty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerMiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerBusinessPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerHomePhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerMobilePhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerContactPreference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerStreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgentFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgentMiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgentLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgentTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgentEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgentMobilePhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgentBusinessPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgentHomePhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgentContactPreference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgentStreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgentCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgentState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgentZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChooseOne)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Perjury)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Signature)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StreetAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.County)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessEmailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessContactPreference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DBA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RentalBooth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeBased)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EIN1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EIN2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOpenedMonth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOpenedYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Website)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NonProfit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MailingAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MailingCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MailingState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MailingZipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MailingCounty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerMiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerBusinessPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerHomePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerMobilePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerContactPreference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerStreetAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerZipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgentFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgentMiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgentLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgentTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgentEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgentMobilePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgentBusinessPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgentHomePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgentContactPreference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgentStreetAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgentCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgentState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgentZipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChooseOne)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Perjury)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Signature)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
